:root{
	--background:#5F7161;
	--accent:#6D8B74;
	--headings:#EFEAD8;
	--text:#D0C9C0;
}
/* sets 1rem to 10px */
html{
	font-size: 62.5%;
	scroll-behavior: smooth;
}
/* sets universal styling for headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.625rem;
  color: var(--headings);
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

header {
	width: 96%;
	margin: 0 auto;
	padding: 2.5rem;
	text-align: center;
	background-color: var(--background);
	color: var(--headings);
}

.navbar{
	text-align: right;
	font-size: 175%;
	color:var(--headings);
	font-style: normal;
} 
/* creates unordered list with no styling for nav links */
.navbar ul {
  list-style-type: none;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.links {
	text-decoration: none;
	font-weight: bolder;
	color: var(--text);
}
/* cursor hover creates underline */
.links:hover {
	border-bottom: 2px solid var(--text);
}

body {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	background-color: var(--accent);
}


.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
	margin-left: -1.5rem;
  margin-right: -1.5rem;
}

/* creates a left oriented heading bar */
.section-header{
	padding: 2rem;
	float:left;
	border-right: 2px solid black;
	color: var(--headings);
	background-color: var(--background);
	
}

.container img{
	width: 25rem;
	border: 5px solid black;	
	max-width: 100%;
	max-height: 100%;
	margin: 4rem;
	
}
/* creates an opaque caption that appears when cursor hovers */
.project-caption {
	width: 100%;
  height: 100%;
  background:rgba(0, 0, 0, 0.7);
  position:absolute; 
  opacity:0; 
	transition:all 300ms ease-in-out;
	-webkit-transition:all 300ms ease-in-out;
  -moz-transition:all 300ms ease-in-out;
  -o-transition:all 300ms ease-in-out;
 -ms-transition:all 300ms ease-in-out;
}

.project-caption h3{
	padding:45px 0px 5px 0px;
	text-align:center;
	line-height: 5rem;
	vertical-align: middle;
	margin-left:-15px;
	text-transform:uppercase;
	font-size:25px;
	color:var(--accent);
}

.project-caption p{
	text-align:center; 
	font-family: 'Overpass Mono', monospace;
	color:#fff;
}

.main-project-container{
	display: flex;
	flex-grow: 1;
	width: fit-content;
  justify-content: center;
	margin-left: auto;
  margin-right: auto;
	padding-right: 10rem;
	margin-bottom: 5rem;
	cursor: pointer;
	position: relative;
}


.main-project-container:hover .project-caption{
	opacity:1;
}

.main-image-p {
	font-size: 125%;
}

.content{
	display: flex;
	background-color: var(--background);
	padding: 0 0 0 2rem;
}

.content p{
	display: flex;
	flex-direction: column;
}
/* creates a flex row for smaller project images */
.row{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	margin-left: 19.3rem;
	padding-left: 1rem;
}

.project-container{
	width:250px;
  height:200px;
  position:relative;
  margin:10px;
  cursor:pointer;
	justify-content: space-between;
}

.project-container img{
	width:250px;
	height:200px; 
	position:absolute;
}


.project-container:hover .project-caption{
	opacity:1;
}

.contact{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: left;
	margin-left: auto;
	background-color: var(--background);
	color: var(--text);
}

.contact-link h4{
	text-decoration: none;
	padding: 2rem;

}
/* set contact links to page formatting and ensures no change on click */
a, a:hover, a:focus, a:active {
	text-decoration: none;
	color: inherit;
}

.contact-link:hover {
	border-bottom: 2px solid var(--text);
}

footer{
	display: flex;
	justify-content: center;
	margin: 2rem;
}

/* creates responsive layout at 2 breaks */


@media screen and (max-width: 992px) {
  header {
    width: 75%;
  }

  .main-project-container img {
    width:75%;
  	height:auto;
		margin: 0 auto;
		
  }
	
}

@media screen and (max-width: 768px) {
  .main-project-container img {
    width: 75%;
		height: auto;
		margin: 0 auto;
	}

	.row{
		flex-direction: column;
	}
	.main-project-container{
		width: 50%;
		height: auto;
		margin: 0 auto;
	}
	.project-container img{
		width: 50%;
		height: auto;
	}
	.project-caption{
		width: 50%;
		height: auto;
		margin: 0 auto;
	}
}


